<!DOCTYPE html>
<html lang="en"> 

<head>
      <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TechBlog</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body class="background"> 
  <div class="flex-column justify-space-around">
    <header class="header">
      <h1>
        <span role="img" aria-label="money">🖱️</span>
        <a href="/" class="title-link">TechBlog Post!</a>
      </h1>
      <nav>
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/profile" class="text-dark text-decoration-none btn btn-warning">Profile</a>
        <a href="/post" class="text-dark text-decoration-none btn btn-warning">Write a New Post</a> 
        <a href="/" class="no-button text-dark text-decoration-none btn btn-warning" id="logout">Logout</a>
        {{else}}
        <a href="/login" class="header-link">Login</button></a>
        {{/if}}
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}

  <h1> Hello! </h1>
</body>
</html> 


  {{!-- <link rel="stylesheet" href="/css/jass.css"> --}}