<div class="row">
  <div class="prev-user-form">
    <h2>If you have an account, enter your credentials here: </h2>

    <form class="form login-form">
      <div class="form-group">
        <label for="user-login" class="pass-and-user">Username:</label>
        <input class="form-input" type="text" id="user-login" />
      </div>
      <div class="form-group">
        <label for="password-login" class="pass-and-user">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="login-btn" type="submit">login</button>
      </div>
    </form>
  </div>
  <div class="new-user-form">
    <h2>If you don't have an account, you can quickly make one here: </h2>

    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup" class="signup-q">First Name:</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="user-signup" class="signup-q">New Username:</label>
        <input class="form-input" type="text" id="user-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup" class="signup-q">Create password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="signup-btn" type="submit">Signup!</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>
<link rel="stylesheet" href="/css/login.css">


{{!-- !Link with css --}}