<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}} </h2>
  </div>
</div>

<div class="new-post">
  <button class="newPost-btn">New Post!</button>
</div>


  {{#if blogPosts.length}}
  <div class="col-md-6 post-list">
    <h3>Current Posts:</h3>

    {{#each blogPost as |blogPost|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/blogPost/{{blogPost.id}}">{{blogPost.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{blogPost.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}



  <script src="./js/profile.js"></script>
<link rel="stylesheet" href="/css/profile.css">

{{!-- <div class="row mt-4">
  <div class="col-md-6">
    <h3>What would you like to blog about?</h3>

    <form class="form mew-post-form">
      <div class="form-group">
        <label for="post-title">Post Title:</label>
        <input class="form-input" type="text" id="post-title" name="post-title" />
      </div>
      <div class="form-group">
        <label for="blog-post">Your Post:</label>
        <textarea class="form-input" id="blog-post" name="blog-post"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Post!</button>
      </div>
    </form>
  </div>
</div> --}}
