{{!-- ! This file contains html for the update post page --}}

<div id="coming-soon">
    <h1> Update your post!</h1>
    <h1> *NOT WORKING YET*</h1>
</div>

{{!-- {{#each blogPost as |blogPost|}} --}}
<div class="update-container">
    {{log this.blogPost}}
    
    <h4>New Post Title: </h4>
    <input class="title-input" type="text" id="comment" name="post-title"></input>

    {{!-- <textarea class="post-title">{{blogpost.title}}</textarea> --}}

    <h4>New Post Description</h4>
    {{!-- <textarea class="description">{{description}}</textarea> --}}
    <input class="title-input" type="text" id="comment" name="post-title"></input>
    <button class="update-btn">Update and Post!</button>
    <button class="cancel-btn">Cancel</button>
</div>
{{!-- {{/each}} --}}



<script src="./js/update.js"></script>
<link rel="stylesheet" href="/css/update.css">
