{{!-- ! This file contains html for the update post page --}}

<div>
    <h1> Function to update your previous posts is coming soon!</h1>
    <p>Check back soon</p>
    <p>Check back soon</p>
    <p>Check back soon</p>
    <p>Check back soon</p>
    <p>Check back soon</p>
    <p>Check back soon</p>
    <p>Check back soon</p>
    <p>Check back soon</p>
    <p>Check back soon</p>
    <p>Check back soon</p>
    <p>Check back soon</p>
    <p>Check back soon</p>
    <p>Check back soon</p>
    <p>Check back soon</p>
    <p>Check back soon</p>
</div>


<script src="./js/update.js"></script>
<link rel="stylesheet" href="/css/update.css">
