.blogpost {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    top: 66px;
}
h2 {
    font-size: 38px;
    color: rgb(15, 10, 2);
    text-decoration-line: underline;
}

.main-desc {
    font-size: 20px;
}

.created-by {
    font-size: 18px;
    text-decoration: overline underline;
}

.update-btn {
        padding: 12px;
    color: rgb(22, 83, 36);
    background-color: rgb(29, 29, 81);
    font-size: 18px;
}

.update-btn:hover {
    color: rgb(22, 83, 36);
    background-color: lightgreen;
}

.new-comment-form {
    display: flex;
    /* justify-content: center; */
}

.post-comment {
    padding: 8px;
    color: rgb(22, 83, 36);
    background-color: rgb(29, 29, 81);
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.post-comment:hover {
    color: rgb(22, 83, 36);
    background-color: lightgreen;
}

.add-comment {
    font-size: 48px;
}

.form-control {
    width: 90%;
    padding: 22px;
    /* position: relative; */
    /* right: 90px; */
    display: flex;
    justify-content: center;
}

.comment-title {
    font-size: 48px;
}

.comment-content {
    font-size: 26px;
}