.blogpost {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    top: 66px;
}
h2 {
    font-size: 38px;
    color: rgb(15, 10, 2);
    text-decoration-line: underline;
}

.main-desc {
    font-size: 20px;
}

.created-by {
    font-size: 18px;
    text-decoration: overline underline;
}

.update-btn {
        padding: 12px;
    color: rgb(22, 83, 36);
    background-color: rgb(29, 29, 81);
    font-size: 18px;
}

.update-btn:hover {
    color: rgb(22, 83, 36);
    background-color: lightgreen;
}

.new-comment-form {
    display: flex;
}