.post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.current-posts {
    font-size: 50px;
}

.post-title-link {
    color: rgb(22, 125, 125);
    font-size: 32px;
}

.post-author{
    font-size: 17px;
    display: flex;
    justify-content: center;
}