h2 {
    font-size: 32px;
}

.prev-user-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-user-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pass-and-user {
    font-size: 20px;
}

.signup-q {
    font-size: 20px;
}

.login-btn {
    padding: 8px;
    color: rgb(22, 83, 36);
    background-color: rgb(29, 29, 81);
    font-size: 20px;
    position: relative;
    left: 108px;
}

.login-btn:hover {
    color: rgb(22, 83, 36);
    background-color: lightgreen;
}

.signup-btn {
    padding: 8px;
    color: rgb(22, 83, 36);
    background-color: rgb(29, 29, 81);
    font-size: 20px;
    position: relative;
    left: 108px;
}

.signup-btn:hover {
    color: rgb(22, 83, 36);
    background-color: lightgreen;
}
