.profile-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 48px
}

h2 {
    font-size: 34px;
}

.profile-post-name {
    font-size: 32px;
    /* display: none; */
}

.created-by {
    font-size: 18px;
    text-decoration: overline underline;
    position: relative;
    bottom: 28px;
}

.newPost-btn {
    padding: 16px;
    color: rgb(49, 119, 65);
    background-color: rgb(29, 29, 81);
    font-size: 20px;
}
.newPost-btn:hover {
    color: rgb(22, 83, 36);
    background-color: lightgreen;
}

.delete-btn {
    font-size: 18px;
    color: rgb(0, 0, 0);
    background-color: rgb(216, 17, 17);
    /* display: none; */
    position: relative;
    bottom: 45px;
}
.delete-btn:hover {
    color: rgb(22, 83, 36);
    background-color: lightgreen;
}

.edit-btn {
    font-size: 18px;    
    color: rgb(49, 119, 65);
    background-color: rgb(29, 29, 81);
    position: relative;
    bottom: 45px;
}
.edit-btn:hover {
    color: rgb(22, 83, 36);
    background-color: lightgreen;
}

.your-posts {
    font-size: 50px;
}

.post-container {
    position: relative;
    bottom: 30px;
}

.new-blog-form,
.edit-blog-form {
    display: none;
    /* width: 50%; */
    /* margin: 0px auto; */
}

.update-btn {
    font-size: 28px; 
    padding: 22px;   
    color: rgb(49, 119, 65);
    background-color: rgb(29, 29, 81);
}
.update-btn:hover {
    color: rgb(22, 83, 36);
    background-color: lightgreen;
}

.cancel-btn {
    font-size: 28px; 
    padding: 22px;  
    color: rgb(0, 0, 0);
    background-color: rgb(216, 17, 17);
}
.cancel-btn:hover {
    color: rgb(22, 83, 36);
    background-color: lightgreen;
}

#new-title {
    width: 142%;
    padding: 10px;
    /* position: relative; */
    /* right: 90px; */
    display: flex;
    justify-content: center;
}

#new-description {
    width: 88%;
    padding: 124px;
    /* position: relative; */
    /* right: 90px; */
    display: flex;
    justify-content: center;
}